
.list {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.todo {
    display: flex;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background: #EAEAEA;
    align-items: center;
    transition: background 0.3s ease-in-out;
}

.todoChecked {
    text-decoration: line-through;
    opacity: 0.5;
}

.todo:hover {
    background-color: #dadada;
}

.todoText, .todoInput {
    flex: 1;
    padding: 0 5px;
}

.todoButtons button:last-child {
    margin-left: 5px;
}